In [1]:
# print name for 10 times

In [5]:
count = 1

while count < 11:
    print("Pune", end = ' ')
    count += 1

Pune Pune Pune Pune Pune Pune Pune Pune Pune Pune

In [7]:
# 1 print the numbers from 1 to 20 using while
# 2 find the addition of numbers from 1 to 10

In [11]:
count = 1

while count <= 20:
    print(count, end = ' ')
    count += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [13]:
count

21

In [19]:
count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1

print(add)

55

In [ ]:
# find the addition of digits of a number
# eg 12345 => 1 + 2 + 3 + 4 + 5 = 15

In [23]:
num = int(input("Enter the number"))
add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print(add)

Enter the number 120

3

In [27]:
"""while True:
    print("ok")
    
infinite loop""";

### for loop

In [30]:
for i in 12, 34, 56, 55.44:
    print(i)

12
34
56
55.44

In [32]:
for i in 12, 34, 56, 55.44:
    print(i ** 2)

144
1156
3136
3073.5935999999997

In [34]:
# range

In [36]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# start = 0, end, step = 1

In [40]:
list(range(10, 101))

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [42]:
list(range(10, 21, 2))

[10, 12, 14, 16, 18, 20]

In [44]:
# find the addition of numbers from 1 to 10

add = 0
for i in range(1, 11):
    add = add + i

print(add)

55

In [46]:
# addition of odd numbers from 1 to 20

add = 0
for i in range(1, 21, 2):
    add = add + i

print(add)

100

In [48]:
# loop control statements

In [52]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [54]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [56]:
# pass statements

In [60]:
num = 5

if num > 0:
    pass