In [1]:
class Employee:
    pass

In [3]:
emp1 = Employee()

In [5]:
emp2 = Employee()  # creating the instance/object

In [7]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x7ad1b369a0c0>
<__main__.Employee object at 0x7ad1a951cef0>

In [9]:
emp1.first = "Shruti"   # instance variables
emp1.last = "Patel"
emp1.salary = 53000

In [11]:
emp2.first = "Rohit"
emp2.last = "Patil"
emp2.salary = 54000

In [13]:
print(emp1.salary)

53000

In [23]:
class Employee:

    def __init__(self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
        print(f"{self.first} -> {self.salary}")

In [25]:
emp1 = Employee("Shruti", "Patel", 53000)

In [27]:
emp1.last

'Patel'

In [29]:
emp2 = Employee("Rohit", "Patil", 54000)

In [31]:
emp1.show()

Shruti -> 53000